<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <p style = "color:{{.Get `color`}}">This is my shortcode</p>
<!-- if you're having trouble, replace the ` with " above -->

<!-- using tips from https://www.youtube.com/watch?v=Eu4zSaKOY4A Shortcode Templates - can replace the word color with the number 0 and not use the word color on the markdown page to make a positional reference -->

<!-- above is an example of a single tag shortcode, below is a double tag -->
<!-- <p style="color:red">{{.Inner}}</p> -->
<p style="background-color:yellow;">{{.Inner}}</p>
    
  </body>

</html>
